/* add custom styles */
body {
  text-align: center;
  margin: auto;
/*  background-color: #f2f2f2;*/
  text-decoration: none;
}

h1 {
  font-family: 'Poiret One';
  text-align: center;
  margin: auto;
  font-size: 10vw;
  margin-bottom: 2rem;
  position: absolute;
  top: 30%;
  left: 7%;
  color: white;
}

h2,h3,h4,li {
  font-family: 'Raleway', sans-serif;
}

p {
 font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
 font-size: 15px;
 line-height: 25px;
}

a {
  color: black;
  text-decoration-style: none;

}

ul {
  padding: 15px;
    border: 1px solid #e7e7e7;
    background-color: white;
}

li {
  font-size: 2rem;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  list-style: none;
  display: inline;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

li:hover {
  background-color: #f3f3f3;
}

#navbar {
  

}

.navbarFixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 60px;
/*  box-shadow: 0 8px 6px -6px #d2d2d2;*/
}

.headerContainer {
  width: 100%;
}

#greyHeader {
  width: 100%;
  height: 50%;
}

#cube {
  top: 10%;
  left:42.5%;
  position: absolute;
  margin: auto;
  width: 15%;
  -webkit-filter: invert(100%);

  filter: invert (100%);
  /*height: 15%;*/
}

#projects {
  margin-top: 100px;
}

#wrapper {
  height: 60px;
}

.thumbnail {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: block;
  width: 80%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.thumbnail:hover {
  opacity: .7;
}

.project {
  text-align: center;
 /* border: 1px black solid;*/
  height: 550px;
}

.description {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}